<header class="header">
  <div class="row">
    <div class="col col-12">
      <div class="header__logo-container">
        <h1 style="display: none">21 Cards Trick</h1>
        <img class="header__logo-img" src="assets/img/logo-header.png" alt="Marvel Tictactoe">
      </div>
    </div>
  </div>
</header>
