.header {
    width: 100%;
    background-color: rgba(0, 0, 0 , 0.7);
    &__logo-container {
        width: 100%;
        padding-top: 5px;
        text-align: center;
    }
    &__logo-img {
        height: 50px;
    }
}

