.table {
    width: 100%; 
    height: 100%;
    padding: 60px 10px 90px 10px;
}

.cards-row {
    position: relative;
    padding: 5px;
    > * {
        position: absolute;
    }
}

.pile {
    cursor: pointer;
    &:hover {
        opacity: 0.8;
    }
}

.card {
    transition-property: left, top;
    transition-duration: 1s, 1s;
    /** Obs: here !important is the only way to apply this style, 
      * because it should override an inline style generated dinamically with javascript */
    &--is-piled {
        top: 0 !important; 
        left: 0 !important;
    }
}

.card-guessed {
    height: 40%;
}

/* Orientation breakpoints generated as class with javascript*/

.landscape {
    flex-direction: row;
    .cards-row {
        width: 100%;
        height: 25%;
    }
    .cards-col {
        height: 100%;
        > * {
            height: 100%;
        }
    }
}

.portrait {
    flex-direction: column;
    .cards-row {
        height: 100%;
        width: 15%;
    }
    .cards-col {
        width: 100%;
        > * {
            width: 100%;
        }
    }
}

/* General modifiers */

.hide {
    display: none;
}