<div #tableElm class="table d-flex flex-wrap align-items-center justify-content-center"
  [ngClass]="currentOrientation">
  <div class="cards-row"
      [ngClass]="currentOrientation"
      [class.hide]="cardChoosenGuessedSrc !== ''"
      *ngFor="let cardRow of cardsRows; index as i">
    <div class="pile cards-col" 
        *ngIf="stage !== Stages.PickCard"
        (click)="choosePile(i+1)">
      <img [src]="'assets/img/pile-' + (i+1) + '.png'" alt="">
    </div>
    <div class="card card--is-piled cards-col" 
      *ngFor="let card of cardRow; index as j" 
      [attr.data-card-id]="i+''+j"
      [ngStyle]="
      {
        'z-index': j+1, 
        'top': currentOrientation === 'landscape' ? '0' : 'calc(16% + ' + ((j+1)*8) + '%)', 
        'left': currentOrientation === 'portrait' ? '0' : ((j+1)*12) + '%'
      }">
      <img [src]="card.image">
    </div>
  </div>
  <img class="card-guessed" [class.hide]="cardChoosenGuessedSrc === ''" [src]="cardChoosenGuessedSrc">
</div>

