<div class="console">
  <p class="msg msg--c-white" *ngFor="let paragraph of message; index as i" 
    [ngClass]="{
      'msg--blur': i !== 0
    }">
    <i class="msg--c-green">robot@magician</i><i class="msg--c-white">:</i><span class="msg--c-blue msg__tilde">~</span><i class="msg--c-white msg__cmd">$</i>
    <i class="msg__animated-char" *ngFor="let c of paragraph">{{c}}</i>
    <i class="msg__cursor" *ngIf="i===currentParagraph">█</i>
  </p>
</div>
