.console {
    width: 100%;
    height: 70px;
    max-height: 70px;
    font-family: 'Perfect DOS VGA 437';
    padding: 10px;
    background-color: #000;
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";
    filter: alpha(opacity=90);
    opacity: 0.9;
    border: 5px solid #b9b9b9;
    border-top-width: 20px;
    border-radius: 5px;
    display: flex;
    flex-direction: column-reverse;
    overflow: hidden;
}

.msg {
    font-size: 12px;
    margin-bottom: 0;
    line-height: 1.2;
    i {
        font-style: normal;
    }
    &__cmd {
        margin-right: 10px;
    }
    &__tilde {
        display: inline-block;
        position: relative;
        bottom: -5px;
        height: 5px;
        font-weight: bold;
    }
    &--c-green {
        color: #1ef733;
    }
    &--c-blue {
        color: #5c8fee;
    }
    &--c-white {
        color: #fff;
    }
    &--blur {
        -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
        filter: alpha(opacity=30);
        opacity: 0.3;
    }
}

@mixin responsive-console {
    .console {
        height: auto;
        max-height: 100px;
    }
    .msg {
        font-size: 1em;
    }
}

@media (min-width: 700px) {
    @include responsive-console;
}