<div class="back">

</div>
<div class="area">
  <div class="container">
    <div class="row">
      <div class="col-12">
          <header class="page-header">
            <h1 class="page-header__title">21 Cards Trick</h1>
            <img class="page-header__logo" src="assets/img/logo.png" alt="21 Cards Trick">
          </header>
      </div>
    </div>
    <div class="row page-section page-section--group-start page-section--group-end section-1">
      <div class="col-12">
          <h2 class="page-section__title page-section__title--level-one text-shadow-1">Get challenged with this magic trick by a Magician Robot</h2>
          <p><img class="page-section__img" src="assets/img/robot.png" alt="" srcset=""></p>
          <p><img class="page-section__img section-1__img-2" src="assets/img/console.png" alt="" srcset=""></p>
      </div>
    </div>
    <div class="row page-section page-section--group-start page-section--group-end section-2">
      <div class="col-12">
          <h2 class="page-section__title page-section__title--level-one text-shadow-2">STEPS OF THE TRICK</h2>
      </div>
    </div>
    <div class="row page-section page-section--group-start section-3">
      <div class="col-12">
          <p><img class="page-section__img" src="assets/img/pick-a-card.png" alt="" srcset=""></p>
          <h3 class="page-section__title page-section__title--level-two text-shadow-1">1. You're asked to pick a card</h3>
          <p class="page-section__description">The Robot won't know what card you picked</p>
      </div>
    </div>
    <div class="row page-section section-3">
      <div class="col-12">
          <p><img class="page-section__img" src="assets/img/clue-1.png" alt="" srcset=""></p>
          <h3 class="page-section__title page-section__title--level-two text-shadow-1">2. You're asked to give some irelevant clues</h3>
          <p class="page-section__description">Just to help the Robot connect his magic neural networks</p>
      </div>
    </div>
    <div class="row page-section--group-end section-3">
      <div class="col-12">
          <p><img class="page-section__img" src="assets/img/card-guess.png" alt="" srcset=""></p>
          <h3 class="page-section__title page-section__title--level-two text-shadow-1">3. The robot will guess what card you've picked</h3>
          <p class="page-section__description">No matter how much you try again</p>
      </div>
    </div>
    <div class="row page-section page-section--group-start section-4">
      <div class="col-12">
          <h3 class="page-section__title page-section__title--level-two text-shadow-1">Do you doubt it?</h3>
          <h3 class="page-section__title page-section__title--level-two section-4__text-2">So, let's face the challenge?</h3>
          <div class="d-flex align-items-center justify-content-center section-4__button-container">
            <button type="button" class="btn btn-danger btn-lg btn-block section-4__button" (click)="openIntro()"><strong>Play Now</strong></button>
          </div>
      </div>
    </div>
  </div>
</div>

