/* Components */

.back {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    background: #39a41e;
    background: -moz-radial-gradient(center,ellipse cover,#39a41e 0,#150f28 100%);
    background: -webkit-radial-gradient(center,ellipse cover,#39a41e 0,#150f28 100%);
    background: radial-gradient(ellipse at center,#39a41e 0,#150f28 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#39a41e', endColorstr='#150f28', GradientType=1 );
}

.area {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
    overflow-y: scroll;
    &::-webkit-scrollbar-track {
        background: rgba(5, 65, 40, 0.5);
    }
    &::-webkit-scrollbar-thumb {
        background: rgba(66, 151, 104, 0.5);
        border-radius: 10px;
        height: 20px;
    }
    &::-webkit-scrollbar {
        width: 8px;
    }
}

.container {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    text-align: center;
    max-width: 1440px;
}

.page-header {
    margin-top: 50px;
    margin-bottom: 20px;
    &__title {
        display: none;
    }
    &__logo {
        height: 80px;
    }
}

.page-section{
    margin-top: 10px;
    margin-bottom: 20px;
    &__title {
        &--level-one {
            color: #fff;
            font-size: 1.5rem;
        }
        &--level-two {
            color: rgb(255, 255, 255);
            font-size: 1.3rem;
        }
    }
    &__description {
        font-size: 0.8rem;
        font-weight: bold;
        color: rgb(0, 0, 0);
    }
    &__img {
        width: 150px;
    }
    &--group-start {
        margin-top: 50px;
    }
    &--group-end {
        margin-bottom: 40px;
    }
}

/* Specific elements */

.section-1 {
    &__img-2 {
        width: 200px;
        margin-top: -40px;
    }
}

.section-2 {
    padding-top: 25px; 
}

// &.section-3 {
//     .img.sec-3-img {
//         width: 120px;
//     }
// }

.section-4{
    padding-top: 20px;
    padding-bottom: 30px;
    &__text-2 {
        color: #fdcd2e
    }
    &__button-container {
        width: 100%;
        margin-top: 25px;
    }
    &__button {
        width: 100%;
        max-width: 300px;
    }
}

/* General modifiers */

.text-shadow-1 {
    text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.4); 
}

.text-shadow-2 {
    text-shadow: 5px 5px 8px rgba(0, 67, 99, 0.9);
}

/* Media Queries */

@media (min-width: 768px) {
    .page-header {
        margin-top: 70px;
        margin-bottom: 30px;
        &__logo {
            height: 150px;
        }
    }

    .page-section{
        margin-top: 20px;
        margin-bottom: 50px;
        &__title {
            &--level-one {
                font-size: 2rem;
            }
            &--level-two {
                font-size: 1.5rem;
            }
        }
        &__description {
            font-size: 1rem;
        }
        &__img {
            width: 200px;
        }
        &__group-start {
            margin-top: 70px;
        }
        &__group-end {
            margin-bottom: 50px;
        }
    }

    .section-1 {
        &__img-2 {
            width: 300px;
        }
    }
}

