<audio #clickSound class="audio" src="./assets/sounds/click.wav" preload="auto"></audio>
<audio #typeSound class="audio" src="./assets/sounds/type.mp3" preload="auto"></audio>
<audio #introSound class="audio" src="./assets/sounds/intro.mp3" preload="auto"></audio>