:host {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.game-area {
    position: fixed;
    width: 100%;
    height: 100%;
    background: url('/assets/img/texture-green.jpg') repeat;
    > * {
        width: 100%;
    }
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
}

.card-table {
    width: 100%;
    height: 100%;
}

.console-container {
    width: 100%;
    position: absolute;
    left: 0;
    bottom: 0;
    padding-bottom: 2px;
    &__col {
        padding: 2px; 
    }
}

.console {
    width: 78%;
    max-width: 400px;
    margin-right: 5px;
}

@media (min-width: 1367px) {
    .game-area {
        &.landscape {
            width: 1366px;
            max-height: 768px;
        }
        &.portrait {
            width: 1000px;
            height: 1000px;
        }
    }
}

@media (max-width: 575px) {
    .console-container {
        &__button {
            padding: 5px;
            font-size: 12px;
            width: 30px;
        }
    }
}