<app-intro *ngIf="stage === Stages.Intro" 
    [msg]="loadingStatusMessage[loadingStatus]" 
    [loadingStatus]="loadingStatus" 
    (buttonOkPressed)="initGame()">
</app-intro>

<div class="game-area" [ngClass]="currentOrientation" *ngIf="!(stage === Stages.Intro)">
    <app-header class="header"></app-header>
    <app-card-table class="card-table" 
        [orientation]="currentOrientation"
        [cardsNewMatch]="cardsSendToTable"
        [stage]="stage"
        [animateCardsBackToPilesEvtEmitter]="animateCardsBackToPilesEvtEmitter"
        (haveChoosenPile)="choosePileButtonAction($event)"
        [cardChoosenGuessedSrc]="cardChoosenGuessedSrc">
    </app-card-table>
    <div class="console-container">
        <div class="row">
            <div class="col col-12 d-flex align-items-center justify-content-center console-container__col">
                <app-console class="console"
                    [msgToType]="gameMessage[gameCurrentMessage]">
                </app-console>
                <button type="button" 
                    class="btn btn-danger console-container__button" 
                    *ngIf="this.gameCurrentMessage === 1 || this.gameCurrentMessage === 8"
                    (click)="consoleButtonAction()">
                        Ok
                </button>
            </div>
        </div> 
    </div>
</div>

<app-sound-player [action]="soundCommand" 
    (ready)="soundPlayerReady.status = true">
</app-sound-player>
