.area {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    overflow: hidden;
}

.splash {
    position: relative;
    z-index: 3;
    overflow: hidden;
    &__img {
        width: 100vw;
        max-width: 600px;
        max-height: 100vh;
        object-fit: contain;
        animation: zoomin 15s ease infinite;
    }
    &__loading-msg {
        width: 100%;
        position: absolute;
        bottom: 75px;
        left: 0;
        z-index: 4;
    }
    &__ready-button-container {
        width: 100%;
        text-align: center;
        position: absolute;
        bottom: 15px;
        left: 0;
        z-index: 4;
    }
    &__ready-button {
        width: 100px;
    }
}

/** Flashes 
/* source: https://codepen.io/joshuarule/pen/avvRyp 
*/
.flashes {
    color: #FFF;
    filter: blur(3px);
    height: 100%;
    margin: 0 auto;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
}

@media (min-width: 700px)  { svg { filter: blur(5px); }}
@media (min-width: 1000px) { svg { filter: blur(8px); }}
@media (min-width: 1500px) { svg { filter: blur(12px); }}

@keyframes flash-1 {
    0%   {opacity: 0;}
    15%  {opacity: 0;}
    16%  {opacity: 1;}
    20%  {opacity: 0;}
    65%  {opacity: 0;}
    66%  {opacity: 1;}
    70%  {opacity: 0;}
    95%  {opacity: 0;}
    96%  {opacity: 1;}
    100% {opacity: 0;}
}

.flash1 { 
    transform: translate(10px,10px);
    animation: flash-1 3s infinite both;
}

.flash2 { 
    transform: translate(100px,68px);
    animation: flash-1 4s .5s infinite both;
}

.flash3 { 
    transform: translate(45px,36px) scale(1.4);
    animation: flash-1 2.5s 1.25s infinite both;
}
.flash4 { 
    transform: translate(165px,8px) scale(1.2);
    animation: flash-1 3.5s .25s infinite both;
}
.flash5 { 
    transform: translate(120px,25px);
    animation: flash-1 4.75s 1s infinite both;
}
.flash6 { 
    transform: translate(25px,80px);
    animation: flash-1 1.75s .75s infinite both;
}
.flash7 { 
    transform: translate(90px,50px);
    animation: flash-1 2.75s infinite both;
}
.flash8 { 
    transform: translate(160px,50px);
    animation: flash-1 6s infinite both;
}

@-webkit-keyframes zoomin {
    0% {transform: scale(1);}
    50% {transform: scale(1.04);}
    100% {transform: scale(1);}
}
@keyframes zoomin {
    0% {transform: scale(1);}
    50% {transform: scale(1.04);}
    100% {transform: scale(1);}
} 

