<div class="area d-flex align-items-center justify-content-center" >
  <div class="splash">
    <img class="splash__img" src="/assets/img/splash.png" />
    <div class="splash__loading-msg d-flex justify-content-center" >
        <app-console style="width: 100%; max-width: 400px" [msgToType]="msg"></app-console>
    </div>
    <div class="splash__ready-button-container" *ngIf="loadingStatus===3">
      <button type="button" class="splash__ready-button btn-success" (click)="goToGame()">OK</button>
    </div>
    <svg class="flashes" viewBox="0 0 200 100" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMinYMin meet">
      <g>
          <path class="flash1" d="M2.348 2.614c.25.834 1.025 1.44 1.94 1.44s1.69-.606 1.94-1.44l2.335-.584-2.335-.584C5.978.613 5.203.006 4.288.006s-1.69.607-1.94 1.44L.013 2.03l2.335.584z" fill="currentColor"/>
          <path class="flash2" d="M2.348 2.614c.25.834 1.025 1.44 1.94 1.44s1.69-.606 1.94-1.44l2.335-.584-2.335-.584C5.978.613 5.203.006 4.288.006s-1.69.607-1.94 1.44L.013 2.03l2.335.584z" fill="currentColor"/>
          <path class="flash3" d="M2.348 2.614c.25.834 1.025 1.44 1.94 1.44s1.69-.606 1.94-1.44l2.335-.584-2.335-.584C5.978.613 5.203.006 4.288.006s-1.69.607-1.94 1.44L.013 2.03l2.335.584z" fill="currentColor"/>
          <path class="flash4" d="M2.348 2.614c.25.834 1.025 1.44 1.94 1.44s1.69-.606 1.94-1.44l2.335-.584-2.335-.584C5.978.613 5.203.006 4.288.006s-1.69.607-1.94 1.44L.013 2.03l2.335.584z" fill="currentColor"/>
          <path class="flash5" d="M2.348 2.614c.25.834 1.025 1.44 1.94 1.44s1.69-.606 1.94-1.44l2.335-.584-2.335-.584C5.978.613 5.203.006 4.288.006s-1.69.607-1.94 1.44L.013 2.03l2.335.584z" fill="currentColor"/>
          <path class="flash6" d="M2.348 2.614c.25.834 1.025 1.44 1.94 1.44s1.69-.606 1.94-1.44l2.335-.584-2.335-.584C5.978.613 5.203.006 4.288.006s-1.69.607-1.94 1.44L.013 2.03l2.335.584z" fill="currentColor"/>
          <path class="flash7" d="M2.348 2.614c.25.834 1.025 1.44 1.94 1.44s1.69-.606 1.94-1.44l2.335-.584-2.335-.584C5.978.613 5.203.006 4.288.006s-1.69.607-1.94 1.44L.013 2.03l2.335.584z" fill="currentColor"/>
          <path class="flash8" d="M2.348 2.614c.25.834 1.025 1.44 1.94 1.44s1.69-.606 1.94-1.44l2.335-.584-2.335-.584C5.978.613 5.203.006 4.288.006s-1.69.607-1.94 1.44L.013 2.03l2.335.584z" fill="currentColor"/>
      </g>
    </svg>
    <!-- source of this SVG: https://codepen.io/joshuarule/pen/avvRyp -->
  </div>
</div>



